.button {
  background: none;
  border: none;
  padding: 4px 16px;
  min-width: 10rem;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.3 ease-in-out;
}

.primary {
  background-color: $primary-color;
  color: white;
  text-transform: uppercase;
  box-shadow: 0px 0px 12px black;
  border: 1px solid transparent;
  transition: 0.3s ease-in-out;

  &:hover {
    box-shadow: 0px 0px 12px white;
  }
}

.disabled {
  pointer-events: none;
  cursor: none;
  opacity: 0.5;
}

.secondary {
  border: 1px solid rgba($primary-color, 0.5);
  transition: 0.3s ease-in-out;

  &:hover {
    background-color: $primary-color;
    color: white;
  }
}
