.drawWrapper {
  @include content-page-wrapper;
}

.drawTitle {
  @include content-page-title;
}

.drawList {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 2rem;
  flex-wrap: wrap;
  margin: 4rem;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
