.purchaseWrapper {
  @include content-page-wrapper;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12rem;

  @include only-mobile {
    flex-direction: column;
    gap: 2em;
  }

  @include only-tablets {
    flex-direction: column;
    gap: 2rem;
  }
}

.purchaseTitle {
  @include content-page-title;
}

.form {
  display: flex;
}
