@font-face {
  font-family: RobotoBold;
  font-weight: bold;
  src:
    local("RobotoBold"),
    url("/src/assets/fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: Roboto;
  src:
    local("Roboto"),
    url("/src/assets/fonts/Roboto.ttf") format("truetype");
}
