@font-face {
  font-family: RobotoBold;
  font-weight: bold;
  src: local("Roboto-Bold"),
    url("./assets/fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: Roboto;
  src: local("Roboto"), url("./assets/fonts/Roboto.ttf") format("truetype");
}
