.partsListWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 1rem 0 3rem 0;
  text-align: left;
}

.partItem {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.partItemImg {
  width: 10%;
}

.partItemDetails {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.partItemId {
  color: $primary-color;
}
