.partsListWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 1rem 0;
  text-align: left;
}

.partItem {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.partItemImg {
  width: 10%;
}

.partItemDetails {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow: hidden;
}

.partItemId {
  color: $primary-color;
}

.partItemName {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.errorMessage {
  font-size: 0.75rem;
  color: red;
  opacity: 0.5;
}
